body {
  padding-top: 43px;
  background-color:#eee;
}

.navbar {
  min-height: inherit;
}
.navbar .container a {
  padding-top: 10px;
  padding-bottom: 10px;
}

#main-body {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  padding-top: 10px;
}

.checkbox-cell {
  width: 4em;
  padding: 0.3em;
}

#app-wrap {
  top: 60px;
  left: 10px;
  bottom: 0;
  right: 10px;
  position: fixed;
}

#app-controls {
  margin:0;
}

#preview {
  position: absolute;
  margin-left: 5px;
  padding: 20px;
  left: 50%;
  bottom: 10px;
  right: 10px;
  top: 50px;
  overflow: auto;
  background: rgba(255,255,255,0.9);
  border: 1px solid #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#editor {
  position: absolute;
  margin-right: 5px;
  top: 50px;
  left: 10px;
  bottom: 10px;
  right: 50%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.user-avatar a img {
    width: 24px;
    height: 24px;
    -webkit-box-shadow: 0 1px 3px #1e1e1e;
    -moz-box-shadow: 0 1px 3px #1e1e1e;
    box-shadow: 0 1px 3px #1e1e1e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}


.navbar-nav .user-avatar a {

}

.navbar-nav>li.user-avatar a {
    padding-top: 9px;
    padding-bottom: 9px;
}