body {
}

.navbar {
  height: 50px !important;
  min-height: 49px !important;
  font-size: 0.85em;
  background: #242628;
  margin-bottom: 10px;
}

.navbar-collapse {
  background: #242628;
}

.navbar-toggle {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar .nav li a, .navbar .nav li button, .navbar-brand {
  display: block;
  height: 49px;
  padding: 15px 15px;
  border-bottom: none;
  color: #7d878a;
  text-transform: uppercase;
}

.navbar .nav li a:hover, .navbar-brand:hover {
  color: #FFF !important;
}

.navbar .nav li {
  font-size: 1em;
  position: relative;
  border-right: #35393b 1px solid;
}

.navbar-brand {
  color: white;
}

.navbar {
  border-radius: 0;
}

.checkbox-cell {
  width: 4em;
  padding: 0.3em;
}

#app-wrap {
  top: 60px;
  left: -5px;
  bottom: 0;
  right: -5px;
  position: fixed;
}

#app-controls {
  margin:0;
}

#preview {
  overflow: auto;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#editor {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 1.1em;
  line-height: 1.3em;
}

.ace_gutter-cell {
  font-size: 1em;
  line-height: 1em;
}

#page-action-bar {
  position: relative;
  z-index: 100;
  float: right;
}

.user-avatar a img {
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 1px 3px #1e1e1e;
  -moz-box-shadow: 0 1px 3px #1e1e1e;
  box-shadow: 0 1px 3px #1e1e1e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.navbar-nav>li.user-avatar img {
  margin-right: 3px;
}

.floating-header {
  position: absolute;
  right: 12px;
  bottom: -39px;
  z-index: 400;
  /* height: 20px; */
  padding: 1px;
  text-transform: uppercase;
  color: #aaa9a2;
  background-color: #000;
  border: 1px solid #000;
  /* background-image: -webkit-linear-gradient(top, #fff 0%,#fff 25%,rgba(255,255,255,0.9) 100%); */
  /* background-image: linear-gradient(to bottom,#fff 0%,#fff 25%,rgba(255,255,255,0.9) 100%); */
  font-size: 10px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

a.label {
  text-decoration: none !important;
}

.diff {
  font-size: 14px !important;
  margin-bottom: 10px;
}