{% extends 'layout.html' %}
{% block page_menu %}
<div class="controls pull-right">
    <a class="btn btn-default btn-sm" href="/edit/{{ name }}">Edit</a>
    <a class="btn btn-default btn-sm" href="/history/{{ name }}">History</a>
</div>
{% endblock %}

{% block body %}

    <div id="page-content" style="display:none">
        {{ page.data }}
    </div>

{% endblock %}
{% block js %}
    <script>
        $(function(){
            $("#page-content").html(MDR.convert({{ page.data|tojson|safe }})).show();
        });
    </script>
{% endblock %}